body {
    background: url(../img/fundo.png);
}

main {
    width: 50%;
    height: 500px;
    background: black;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.container-calculadora {
    border: 2px solid white;
    width: 45%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-titulo {
    color: blanchedalmond;
    font-size: 25px;

    text-align: center;
    margin-top: 10px;
}

.container-subtitulo {
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
}

.container-input {
    width: 20%;
    height: 50px;
    
}

.container-botao {
    border: 2px solid white;
    width: 45%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.container-botao-resultado {
    color: white;
    text-transform: uppercase;
}

.container-botao-resultado-item {
    color: white;
    font-size: 60px;
}